@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
.main-body{
    min-height: 100vh;
    background-color: white;
    color: black;
    /* height: 770PX;
    width: 1500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px ;

}
.sub-body{
    border: 2px dotted black;
    
    background-color: white;
    
    height: 700px;
    width: 1300px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding:10px 20px ;

}

.aboutclass {
    margin-left: 100px;
    margin-top: 200px;
    font-size: 30px;
   
}
#resumebtn{
    font-size: 18px;
        border: 2px solid transparent;
        background-color: black;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
}

.firstpage{
    margin: 0;
    padding: 0;
}

.fade {
    opacity: 0;
}
#hello{
    font-size: 18px;

}
#myname{
    font-size: 60px;
}

#whatido{
    font-size: 18px;
}


#contact-me-btn{
    font-size: 18px;
    border: 2px solid transparent;
    background-color: black;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 10px;
        margin-top: 20px;
        
}
#nextbtn{
    border: 2px solid transparent;
        background-color: white;
        color: black;
       
        
        margin-top: 100px;
        margin-left: 90%;
        cursor: pointer;
}
.aboutmeclass{
        margin: 0;
        padding: 0;
}
#about-me{
    font-size: 20px;
    margin-left: -30px;
    margin-right: 50px;
}

ul{
    display: flex;
    margin-top: 100px;
    margin-left:60px;
    font-size: 20px;
    gap: 90px;
}

/* a{
    text-decoration: none;
    color: black;
}
.projectsdisplay{
    display: flex;
    justify-content: space-between;
}
#the-grid{
       font-size: 40px;
}

#pub-el{
    font-size: 20px;
} */



.myprojects{
    border: 2px dotted black;
    border-radius: 24px;
    height: 300px;
    margin-top: -50px;
    margin-left: -50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gridtitle{
    font-size: 30px;
    border: 2px dotted black;
    border-radius: 24px;
    padding: 14px;
    margin-left:100px ;
}
#gridinfo{
    font-size: medium;
    /* border: 2px dotted black; */
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    padding: 20px;
    flex-direction: column;

}

#mygridlink{
    margin-top: 10px;
    margin-right: 300px;
}
